name: Build LaTeX PDF

on:
  push:
    paths:
      - "**.tex"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: xu-cheng/latex-action@v3
        with:
          root_file: DM.tex

      - uses: actions/upload-artifact@v4
        with:
          name: pdf
          path: DM.pdf
